*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.margin_auto{
    margin: 0 auto;
}
.bg_black{
    background: #000;
}
.white{
    color: #fff;
}
.w_100{
    width: 100%;
}
.w_80{
    width: 80%;
}
.w_60{
    width: 60%;
}
.w_40{
    width: 40%;
}
.w_25{
    width: 25%;
}
.h_600{
    height: 600px;
}
.font_20{
    font-size: 20px;
}
.font_50{
    font-size: 50px;
}
.font_80{
    font-size: 80px;
}
.d_flex{
    display: flex;
}
.justify_around{
    justify-content: space-around;
}
.justify_center{
    justify-content: center;
}
.text_center{
    text-align: center;
}
.align_center{
    align-items: center;
}
.mt_150{
    margin-top: 150px;
}
.mt_100{
    margin-top: 100px;
}
.mb_100{
    margin-bottom: 100px;
}
.pt_5{
    padding-top: 5px;
}
.pt_15{
    padding-top: 15px;
}
.pt_30{
    padding-top: 30px;
}
.over_hidden{
    overflow: hidden;
}


.head_container{
    background-image: url(../images/home-banner.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.header{
    margin: 0 auto;
}
ul li{
    list-style: none;
    line-height: 50px;
}
ul li a:hover{
 color: #ff2f8b;
}
.active{
    color: #ff2f8b;
}




.image:hover{
    background:linear-gradient(90deg,#ff2f8b 0%,#9035f9 100%);
     z-index: 10;
  
}



.card_image{
    height: 200px;
}
.card_image img{
    width: 100%;
    height: 100%;
}